language:
    c

compiler:
    - gcc
    - clang

before_script:
    - sudo apt-get install cmake
    - sudo bash install_dependencies.sh

script:
    cmake . && make && cd tests && python unittest_runner.py

branches:
  only:
      - master

notifications:
  recipients:
    - chutsu@gmail.com
  email:
    on_success: change
    on_failure: always
