language:
    c

compiler:
    - gcc
    - clang

before_script:
    - sudo apt-get install cmake
    - sudo apt-get install libjansson4 libjansson-dev
    - sudo bash scripts/install_dependencies.sh

script:
    cmake . && make && python ./scripts/unittest_runner.py

branches:
  only:
      - master

notifications:
  recipients:
    - chutsu@gmail.com
  email:
    on_success: change
    on_failure: always
